<ng-content select="[additional_content]"></ng-content>
<p>
    {{caption}}
    <input #name1 >
    <button (click)="save(name1.value)">Save</button>
</p>

<div [formGroup]="viewModel" class="relative">

    <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input
        matInput    
        formControlName="login">

        <mat-error>
            Required
        </mat-error>

    </mat-form-field>

    <button (click)="unsubscribe()">unsubscribe</button>

    <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
</div>

<ng-template appPerms="admin" appMouseevent>
    <p appMouseevent>Admin Area</p>
</ng-template>

<ng-content></ng-content>
